div.nav-container {
  background-color: #8eb055;
  padding: 22px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;

  div.logo-box {
    width: 200px;
    img {
      width: 100%;
    }
  }
  div.searchbar {
    width: 45%;

    form {
      position: relative;
      width: 100%;

      input {
        width: 100%;
        padding: 17px 12px;
        border-radius: 24px;
        border: none;

        &:focus {
          outline: none; 
          border: 2px solid #6f8c3f; // bordo personalizzato
          box-shadow: 0 0 4px rgba(111, 140, 63, 0.4); // leggero glow (opzionale)
        }
      }

      button {
        position: absolute;
        right: 12px;
        top: 50%;
        transform: translateY(-50%);
        background: none;
        border: none;
        color: #7f8c8d;
        cursor: pointer;

        i {
          font-size: 24px;
          font-style: bold;
          color: #8eb055;
        }
      }
    }
  }

  div.settings-navbar {
    display: flex;
    gap: 30px;
    align-items: center;

    div.cart {
      i.bi-cart-fill {
        font-size: 24px;
        position: relative;

        span.cart-count {
          position: absolute;
          top: -8px;
          right: -10px;
          background-color: #537506;
          color: white;
          border-radius: 50%;
          padding: 0px 6px;
          font-size: 12px;
        }
      }
    }
    div.user-profile {
      p {
        margin-bottom: 0px;
        padding: 15px 39px;
        background-color: #537506;
        border-radius: 24px;
      }
    }
  }
}
