<section class="upper-nav">
    <div class="nav-container">
        <div class="logo-box">
            <img src="assets/images/logo/logo-nobg.png" alt="logo">
        </div>
        <div class="searchbar">
            <form action="get">
                <input type="text" placeholder="Cerca i prodotti">
                <button>Search</button>
            </form>
        </div>
        <div class="settings-navbar">
            
            <div class="cart">
                <p>Carrello</p>
            </div>
            <div class="user-profile">
                <p>Profilo</p>
            </div>
        </div>
    </div>
</section>
