<section class="upper-nav">
  <div class="nav-container">
    <div class="logo-box">
      <a routerLink="/">
        <img src="assets/images/logo/logo-nobg-tagliato.png" alt="logo" />
      </a>
    </div>
    
    <!-- Search bar: NASCOSTA su mobile, VISIBILE su desktop -->
    <div class="d-none d-md-block search-bar-wrapper">
      <app-search-bar/>
    </div>
    
    <div class="settings-navbar">
      <div class="cart">
        <i class="bi bi-cart-fill">
          <span class="cart-count">0</span>
        </i>
      </div>

      <div class="user-profile" (mouseenter)="showMenuNow(true)" (mouseleave)="hideMenuWithDelay()">
        
        @if (this.auth.GetLoginStatus() == false) {
          <p routerLink="/login">Login</p>
          <i routerLink="/login" class="bi bi-person-circle person-lg"></i>
        }

        @if (this.auth.GetLoginStatus() == true) {
          @if (auth.userEmail) {
            <div class="user-icon">
              {{ auth.userEmail[0] | uppercase }}
            </div>
          }
        }

        <!-- Dropdown -->
        <div class="user-dropdown" *ngIf="showUserMenu">
          <a routerLink="/profilo"><i class="bi bi-person-fill"></i> Profilo</a>
          <a (click)="logout()"> <i class="bi bi-box-arrow-right"></i>Logout</a>
        </div>
      </div>
      
      <!-- Pulsante hamburger -->
      <button class="hamburger" (click)="toggleMenu()" [class.show]="showHamburgerMenu">☰</button>
    </div>

    <!-- Menu Hamburger: search bar VISIBILE solo qui su mobile -->
<div class="hamburger-window" [class.open]="showHamburgerMenu">
      <div class="search-bar-mobile-wrapper">
        <app-search-bar/>
      </div>
      
      <ul>
        <li *ngFor="let link of childLinks">
          <a [routerLink]="link.path">{{ link.label }}</a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
</section>

<section class="lower-nav">
  <app-main-categories-bar></app-main-categories-bar>
</section>
