div.main-categories-container {
  button.hamburger {
    display: none;
  }
  ul.categories-list {
    display: flex;
    gap: 80px;
    padding: 15px 20px;
    margin: 0;
    list-style: none;
    background-color:#8eb055;
    justify-content: center;

    li.nav-link {
      a {
        text-decoration: none;
        color: rgb(255, 255, 255);
        //font-weight: bold;
        font-size: 16px;
        padding: 8px 12px;
        border-radius: 4px;

        &.active,
        &:hover {
          background-color: #537506;
        }
      }
    }
  }

  hr {
    margin: 0px;
  }
}
