div.main-categories-container {
  button.hamburger {
    display: none;
  }

  ul.categories-list {
    display: flex;
    gap: 80px;
    padding: 15px 20px;
    margin: 0;
    list-style: none;
    background-color: #1e1e1e;
    justify-content: center;

    li.nav-link {
      a {
        // position: relative;
        text-decoration: none;
        font-weight: 700;
        font-size: 1rem;

        .label {
          --x: 50%;
          --y: 50%;

          display: inline-block;
          color: white;
          
        }

          &:hover .label {
            color: transparent;

            transition: color 0.50s ease;

            background-image: radial-gradient(
                80px circle at var(--x) var(--y),
                #ff5700 0%,
                #ff5700 40%,
                #ffffff 60%);

            background-clip: text;
            -webkit-background-clip: text;
          }

          &.active .label {
            color: #ff5700;
            background: none;
          }

        }
      }

    }

    hr {
      margin: 0px;
    }
  }