.edit-create-page {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.edit-create-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5rem;
}

label {
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px solid gray;
    border-radius: 4px;
    padding: 1.5rem;

}

