.edit-create-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.form-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.form-header h2 {
    font-weight: 700;
}

.edit-create-form {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 3.5rem;
}

label {
    font-weight: 700;
    margin-bottom: 0.4rem;
}

.form-section {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px solid rgb(201, 201, 201);
    border-radius: 0.8rem;
    padding: 1.5rem;
    
}


