.admin-products {
    min-height: 100vh;
    padding: 1rem;
}

.big-ass-page {
    min-height: 100vh;
}

.prev-next {
    /* padding: 0.5rem; */
    gap: 0.8rem;
}

.sort-by {
    color: rgb(55, 55, 255);
    cursor: pointer;
}