.login-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f1f1f1;
}

.login-card {
    background: white;
    padding: 1.7rem;
    border-radius: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.input-group-floating {
    position: relative;
    margin-top: 1.5rem;
}

.input-group-floating input {
    width: 100%;
    padding: 12px 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    background: transparent;
}

.input-group-floating label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    color: #777;
    transition: 0.2s ease;
    pointer-events: none;
    background: white;
    padding: 0 4px;
}

.input-group-floating input:focus+label,
.input-group-floating input:not(:placeholder-shown)+label {
    top: 0;
    font-size: 0.75rem;
    color: #ff5700;
}

.fullname-group {
    display: flex;
    gap: 10px;
}

.password-group {
    position: relative;
}

.password-group input {
    width: 100%;
}

.toggle-btn {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

.confirm-btn {
    width: 100%;
    padding: 0.5rem 0;
    border: solid 2px;
    border-radius: 20px;
    background: transparent;
    color: black;
    cursor: pointer;
    margin-top: 1.5rem;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.confirm-btn:hover {
    background: black;
    color: white;
}

.signup-text {
    margin-top: 1rem;
    font-size: 0.9rem;
}



