div.container {
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 40px;

  div.profile-container {

    div.sidebar-box {

      div.nav-pills {
        button {
          background-color: #1e1e1e !important;
          color: white;
          margin-bottom: 10px;
        }
        button:hover {
          background-color: #ff5700 !important;
        }
      }
    }
    div.main-content-box{
      div.tab-content{
        margin-left: 20px;
        div.user-icon{
          width: 100px;
          height: 100px;
          background-color: #ff5700;
          margin-bottom: 20px;
          color: white;
          font-size: 60px;
          border-radius: 50%;
          text-align: center;
        }
      }
    }
  }
}