div.container {
  margin-top: 30px;
  border: 1px solid #1e1e1e;
  border-radius: 10px;

  div.profile-container {

    div.sidebar-box {

      div.nav-pills {
        button {
          background-color: #1e1e1e !important;
          color: white;
          margin-bottom: 10px;
        }
        button:hover {
          background-color: #ff5700 !important;
        }
      }
    }
  }
}